body {
  background-color: lightblue;
  background-image: url(../assets/images/marioBackground.png);
  background-size: cover;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
