body {
  background-color: lightblue;
  background-image: url(../assets/images/marioBackground.png);
  background-size: cover;
}

h1 {
  color: orange;
  text-align: center;
  background: black;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  margin: 10px; 
  width: auto;
}

p {
  font-family: verdana;
  font-size: 20px;
}

div {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  margin: 10px; 
  width: auto;
}

.important {
  font-size: 70px;
  font-weight: bold;
}
